/***********************************************************************                                                                                                                                                         
                                                                                                    
   Theme Name:      lni_servo_child_theme
   Description:     Lake Norman INFINITI Service Template
   Version:         0.1
   Author:          AMSI
   Template:        servo

***********************************************************************/

/**  //////////  PALATE  //////////
BRAND - #786bac
BRAND-MED - #fff
BRAND-DARK - #8a1232
PRIMARY - #786bac
PRIMARY-DARK - #0080c6
SUCCESS - #38B265
SUCCESS-DARK - #0B8237
BG-LIGHT - #f5f5f5
**/


/* A/B TEST CLASSES */


/** GENERAL **/

.bg-main {
    background-color: #786bac;
    color: #fff;
}

.bg-main-med {
    background-color: #444;
}


/** TYPOGRAPHY **/

blockquote {
    border-color: #786bac;
}

.fa-ul .fa.fa-check {
    color: #38B265;
}


/** LINKS **/

a,
a.list-group-item,
a.list-group-item:focus,
a.list-group-item:hover {
    color: #786bac;
}

a:focus, a:hover {
    color: #444;
}

.btn-main {
    background-color: #786bac;
    border-color: #786bac;
}

.btn-main:hover,
.btn-secondary {
    background-color: #504187;
    border-color: #504187;
}

.btn-secondary:hover,
.btn-secondary:focus {
    background-color: #8a1232;
    border-color: #8a1232;
}

.btn-main-outline {
    background-color: transparent;
    border-color: #786bac;
    color: #786bac;
}

.btn-main-outline:focus,
.btn-main-outline:hover {
    background-color: #786bac;
    border-color: #786bac;
    color: #fff;
}

.btn-success,
.btn-success-outline:focus,
.btn-success-outline:hover {
    background-color: #38B265;
    border-color: #38B265;
}

.btn-success:focus,
.btn-success:hover {
    background-color: #0B8237;
    border-color: #0B8237;
}

.btn-success-outline {
    background-color: transparent;
    border-color: #38B265;
    color: #38B265;
}

.dropdown-menu {
    border-bottom: #504187 5px solid;
}

.text-main {
    color: #786bac;
}

.text-primary {
    color: #786bac;
}


/* NAV */

nav.navbar.navbar-default {
    background-color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff!important;
}

div#bs-example-navbar-collapse-1 { background-color: #333; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: #000000!important;
}

@media only screen and (min-width: 767px) {
    nav.navbar.navbar-default {
        border-top: #ddd 0 solid!important;
        margin-bottom: 0;
        background-color: #333!important;
    }
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #333;
    background-color: #333;
}

/** HEADER **/

header .larger {
    color: #fff;
}

header.pad-vert-2x.hidden-xs {
    background-color: white!important
}


/** FOOTER **/


/*footer { border-top: #786bac  8px solid; }*/

button.close {
    color: #786bac;
}


/** HOME **/

.oem blockquote {
    border-color: #786bac;
}


/** ONE TO ONE **/

#one-to-one .round {
    margin: 0 auto 1rem;
    padding: 1.2rem 0 0;
}

#one-to-one h4 {
    font-weight: 700;
    margin: 0;
}


/** CARFAX **/

h1.carfax-txt,
h2.carfax-txt,
h3.carfax-txt,
h4.carfax-txt {
    color: #3777bc;
}

.carfax-bodytxt {
    color: #444;
}

.carfax-btn,
.carfax-btn-alt {
    color: white;
    background-color: #f58d17;
    border-color: #f58d17;
    font-weight: bold;
}

.carfax-btn:hover {
    color: #fff;
    background-color: #3777bc;
    border-color: #3777bc;
}

.carfax-btn-alt:hover {
    color: #fff;
    background-color: transparent!important;
    border: 1px solid #fff!important;
}


/** CARFAX BANNER **/

#carfax-banner>section.header {
    background-color: #0085ba;
}


/** COUPON **/

.coupon {
    border-color: #786bac;
    color: #786bac;
}

.coupon .disclaimer {
    border-color: #786bac;
    color: #786bac;
}


/* MBRACE */

h1.mbrace-txt,
h2.mbrace-txt,
h3.mbrace-txt,
h4.mbrace-txt {
    color: #6d6c6c;
}

.mbrace-bodytxt {
    color: #786bac;
}

.mbrace-btn,
.mbrace-btn-alt {
    color: white;
    background-color: #176db7;
    border-color: #176db7;
    font-weight: bold;
}

.mbrace-btn:hover {
    color: #fff;
    background-color: #3777bc;
    border-color: #3777bc;
}

.mbrace-btn-alt:hover {
    color: #fff;
    background-color: transparent!important;
    border: 1px solid #fff!important;
}


/**  //////////  SMALL  //////////  **/

@media only screen and (min-width: 768px) {
    /** NAV **/
    .navbar-default .nav.navbar-nav>li.li-right>a {
        background-color: #786bac;
        border-color: #786bac;
        color: #fff;
    }
    .navbar-default .nav.navbar-nav>li.li-right>a:hover {
        background-color: #fff;
        border-color: #fff;
    }
    /** STAFF **/
    #staff .bio {
        min-height: 395px;
        margin-bottom: 1rem;
    }
}


/**  //////////  LARGE  //////////  **/

@media only screen and (min-width: 1200px) {
    /** STAFF **/
    #staff .bio {
        min-height: 435px;
    }
}

ul.nav.navbar-nav.navbar-right.hidden-xs {
    background-color: #d22138!important;
    border-color: #d22138!important;
}

ul.nav.navbar-nav.navbar-right.hidden-xs>li>a {
    color: #ffffff!important;
}

@media (min-width: 768px) {
    .navbar-right {
        margin-right: 0!important;
    }
}


/**  //////////  LARGE  //////////  **/

@media only screen and (min-width: 1200px) {
    /** STAFF **/
    #staff .bio {
        min-height: 435px;
    }
}

    
/*--------------------------------------------------------------
# CHILD THEME DEFAULTS
--------------------------------------------------------------*/


/**  //////////  LARGE  //////////  **/

@media only screen and (min-width: 1200px) {
    /** STAFF **/
    #staff .bio {
        min-height: 435px;
    }
}


/**  //////////  STORE SPECIFIC  //////////  **/


/** BACKGROUNDS **/

#service>section.header {
    background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-services-xs.jpg');
}

#batteries>section.header {
    background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-batteries-xs.jpg');
}

#contact>section.header {
    background: linear-gradient(rgba(10, 93, 120, .7), rgba(10, 93, 120, .7)), url('/wp-content/themes/servo/assets/bg-contact-xs.jpg');
}

#faq>section.header {
    background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-faq-banner-xs.jpg');
}

#home .oem {
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url('/wp-content/themes/servo/assets/bg-oem-parts-xs.jpg');
}

#home>section.header {
    background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-home-banner-xs.jpg');
}

#learning-center>section.header {
    background: linear-gradient(rgba(10, 93, 120, .7), rgba(10, 93, 120, .7)), url('/wp-content/themes/servo/assets/bg-home-banner-xs.jpg');
}

#carfax>section.header {
    background: url('/wp-content/themes/servo/assets/bg-carfax-xs.jpg');
}

.local {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('/wp-content/themes/servo/assets/bg-home-local-xs.jpg');
}

.usp-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/usp-shuttle-xs.jpg');
}

.usp-9 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/usp-loaner-sm.jpg');
}

.usp-16 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/usp-fluid-sm.jpg');
}

.usp-17 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/usp-brakecomponents-sm.jpg');
}

#maintenance>section.header {
    background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-vw-maintenance-xs.jpg');
    background-size: cover;
}

#batteries>section.header {
    background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-batteries-xs.jpg');
}

#one-to-one>section.banner {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('/wp-content/themes/servo/assets/bg-one-to-one-xs.jpg');
}

#tires>section.header {
    background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-tires-xs.jpg');
    background-size: cover;
}

#oil>section.header {
    background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-oil-change-xs.jpg');
    background-size: cover;
}

#brakes>section.header {
    background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-brakes-xs.jpg');
    background-size: cover;
}


/** ///// SMALL ///// **/

@media only screen and (min-width: 768px) {
    /** BACKGROUNDS **/
    #service>section.header {
        background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-services-sm.jpg');
    }
    #batteries>section.header {
        background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-batteries-sm.jpg');
    }
    #contact>section.header {
        background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-contact-sm.jpg');
    }
    #faq>section.header {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/bg-faq-banner-sm.jpg');
    }
    #home .oem {
        background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url('/wp-content/themes/servo/assets/bg-oem-parts-sm.jpg');
    }
    #home>section.header {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/bg-home-banner-sm.jpg');
    }
    #learning-center>section.header {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/bg-home-banner-sm.jpg');
    }
    #carfax>section.header {
        background: url('/wp-content/themes/servo/assets/bg-carfax-sm.jpg');
    }
    #maintenance>section.header {
        background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-vw-maintenance-sm.jpg');
        background-size: cover;
    }
    .local {
        background: url('/wp-content/themes/servo/assets/bg-home-local.jpg');
    }
    #tires>section.header {
        background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-tires-sm.jpg');
        background-size: cover;
    }
    #oil>section.header {
        background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-oil-change-sm.jpg');
        background-size: cover;
    }
    #brakes>section.header {
        background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-brakes-sm.jpg');
        background-size: cover;
    }
    #one-to-one>section.banner {
        background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('/wp-content/themes/servo/assets/bg-one-to-one-sm.jpg');
    }
}


/** ///// MEDIUM ///// **/

@media only screen and (min-width: 992px) {
    /** BACKGROUNDS **/
    #service>section.header {
        background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-services-md.jpg');
    }
    #batteries>section.header {
        background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-batteries-md.jpg');
    }
    #contact>section.header {
        background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-contact-md.jpg');
    }
    #faq>section.header {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/bg-faq-banner-md.jpg');
    }
    #home .oem {
        background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url('/wp-content/themes/servo/assets/bg-oem-parts-md.jpg');
    }
    #home>section.header {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/bg-home-banner-md.jpg');
    }
    #learning-center>section.header {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/bg-home-banner-md.jpg');
    }
    #carfax>section.header {
        background: url('/wp-content/themes/servo/assets/bg-carfax-md.jpg');
    }
    #one-to-one>section.banner {
        background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('/wp-content/themes/servo/assets/bg-one-to-one-md.jpg');
    }
    #maintenance>section.header {
        background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-vw-maintenance-md.jpg');
        background-size: cover;
    }
    #tires>section.header {
        background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-tires-md.jpg');
        background-size: cover;
    }
    #oil>section.header {
        background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-oil-change-md.jpg');
        background-size: cover;
    }
    #brakes>section.header {
        background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-brakes-md.jpg');
        background-size: cover;
    }
}


/** ///// LARGE ///// **/

@media only screen and (min-width: 1200px) {
    /** BACKGROUNDS **/
    #batteries>section.header {
        background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-batteries-lg.jpg');
    }
    #contact>section.header {
        background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-contact-lg.jpg');
    }
    #faq>section.header {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/wp-content/themes/servo/assets/bg-faq-banner-lg.jpg');
    }
    #home .oem {
        background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url('/wp-content/themes/servo/assets/bg-oem-parts-lg.jpg');
    }
    #home>section.header {
        background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-home-banner-lg.jpg');
    }
    #learning-center>section.header {
        background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-home-banner-lg.jpg');
    }
    #maintenance>section.header {
        background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-vw-maintenance-lg.jpg');
        background-size: cover;
    }
}

#service>section.header,
#batteries>section.header,
#contact>section.header,
#home>section.header,
#home .oem,
#learning-center>section.header,
#one-to-one>section.header,
#service section.rewards,
#faq>section.header,
#carfax>section.header,
.local,
section.header,
#maintenance>section.header,
#brakes>section.header {
    background-position: center;
    background-size: cover;
    border: 0;
    color: #fff;
}


/**  //////////  PLEASE ADD OVERRIDES BELOW THIS LINE  //////////  **/

.bg-main-med {
    background-color: #444;
}

.bg-main-drk {
    background-color: #000;
}

.bg-drk {
    background: #545353!important;
}

footer .bg-main-drk,
footer .bg-main-drk a {
    color: #f4f4f4;
}

footer .bg-main-drk a:hover {
    color: #fff;
}

@media only screen and (min-width: 1001px) {
    section.text-center.coupons {
        background-color: #f5f5f5!important;
    }
}


/** INFINITI Overrides */

.navbar-nav .open .dropdown-menu {
    background: #0e0e0e;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #000!important;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    background-color: #786bac!important;
}

button.navbar-toggle {
border-color: transparent!important;
color: #786bac!important;
}

.fa-bars:before,
.fa-navicon:before,
.fa-reorder:before {
    color: #786bac!important;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #fff!important;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: transparent!important;
}

.btn-primary-outline:focus,
.btn-primary-outline:hover,
.btn-primary:active,
.btn-primary:active.btn-primary:focus,
.btn-primary:focus,
.btn-primary:hover {
    background-color: #786bac;
    border-color: #786bac;
    color: #fff;
}

a.btn.btn-block.btn-primary {
    background-color: #786bac;
}

.btn-primary:hover {
    color: #fff;
    background-color: #504187!important;
    border-color: #504187!important;
}

.btn-primary {
    border-color: transparent;
}

.nav_parts>a::before {
    content: "";
}

/*a.btn.btn-block.btn-white-outline { display: none; }*/

section.text-white.oem {
    background-color: #176db7;
}

section#whybuyvideo {
    background-color: #333;
}

.txt-green {
    color: green;
}

.txt-yellow {
    color: #c5c54f!important;
}

.txt-red {
    color: red!important;
}

.btn-white-outline:focus,
.btn-white-outline:hover {
    background-color: #000;
    border-color: transparent;
}

a:focus, a:hover {
    color: #444;
}

a.mainsitecta {
    background-color: #786bac;
}

a.mainsitecta:hover {
    background-color: #504187!important;
}

input#gform_submit_button_1 {
    background-color: #786bac;
    border-color: #786bac;
}

input#gform_submit_button_1:hover {
    background-color: #504187;
    border-color: #504187;
}